<div class="flex flex-col h-full px-6 md:px-28 text-white">
  @if (error) {
    <app-error-message (retry)="retry()"></app-error-message>
  } @else {
    <app-header />
    <h1 class="sr-only">Weather App — current weather and forecast</h1>

    <div class="flex flex-col h-full text-white mt-4">
      <div
        class="grid lg:grid-cols-[2fr_1fr] xl:grid-cols-[800px_1fr] gap-5 mt-8"
      >
        <div class="flex flex-col gap-6">
          <app-current-weather
            [weather]="weather$ | async"
            [loading]="isLoading$ | async"
          />

          <app-feels-like
            [weather]="weather$ | async"
            [loading]="isLoading$ | async"
          />
          <div class="mt-6">
            <app-daily-forecast
              [weather]="weather$ | async"
              [loading]="isLoading$ | async"
            />
          </div>
        </div>

        <div class="h-[702px] bg-neutral-800 rounded-lg py-4 pl-4">
          <app-hourly-forecast
            [weather]="weather$ | async"
            [loading]="isLoading$ | async"
          />
        </div>
      </div>
    </div>
  }
</div>

<footer class="sr-only">End of page content</footer>
