<div class="relative inline-block">
  <!-- Units Button -->
  <button
    type="button"
    class="flex items-center gap-2 px-4 py-2.5 max-mobile:gap-1 max-mobile:px-2 max-mobile:py-1.5 bg-neutral-800 border border-slate-600 rounded-lg text-white text-sm max-mobile:text-xs font-medium cursor-pointer transition-colors hover:bg-neutral-700 border border-transparent focus:border-white"
    (click)="toggleDropdown()"
  >
    <img src="assets/images/icon-units.svg" alt="Units icon" />
    Units
    <img
      [ngClass]="{ 'rotate-180': isOpen }"
      src="assets/images/icon-dropdown.svg"
      class="transition-transform duration-300 ease-in-out"
      alt="Units chevron icon"
    />
  </button>

  <!-- Dropdown Menu -->
  @if (isOpen()) {
    <div
      class="absolute top-full right-0 mt-2 bg-neutral-800 p-2 rounded-xl border border-neutral-600 min-w-52 shadow-xl z-50 overflow-hidden"
    >
      <button
        type="button"
        class="w-full flex px-4 py-4 text-white text-base font-medium hover:bg-neutral-700 border border-transparent focus:border-white cursor-pointer rounded-lg"
      >
        Switch to Imperial
      </button>

      <!-- Unit Categories -->
      @for (category of units; track category.name) {
        <div>
          <div
            [ngClass]="{ 'border-t': !$first }"
            class="border-t border-t-neutral-700 px-4 py-3 text-slate-400 text-xs font-semibold tracking-wide bg-neutral-800"
          >
            {{ category.name }}
          </div>

          <!-- Unit Options -->
          @for (option of category.options; track option.label) {
            <button
              type="button"
              class="w-full flex justify-between items-center px-4 py-3 mb-1 text-white text-sm cursor-pointer transition-colors hover:bg-neutral-700 rounded-lg text-left"
              [ngClass]="{
                'bg-neutral-700':
                  selectedUnits()[category.type] === option.value,
              }"
              (click)="selectUnit(category.type, option.value)"
            >
              <span class="font-normal">{{ option.label }}</span>
              @if (selectedUnits()[category.type] === option.value) {
                <img
                  src="assets/images/icon-checkmark.svg"
                  alt="Icon Checkmark"
                />
              }
            </button>
          }
        </div>
      }
    </div>
  }

  <!-- Overlay (click to close) -->
  @if (isOpen()) {
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <div class="fixed inset-0 z-40" (click)="closeDropdown()"></div>
  }
</div>
