<div class="relative inline-block">
  <!-- Button -->
  <button
    [ngClass]="buttonClasses()"
    class="flex items-center gap-2 px-4 py-2.5 max-mobile:gap-1 max-mobile:px-2 max-mobile:py-1.5 bg-brand-light border border-slate-600 rounded-lg text-white text-sm max-mobile:text-xs font-medium cursor-pointer transition-colors hover:bg-brand-light border border-transparent focus:border-white"
    (click)="toggleDropdown()"
  >
    @if (iconUrl()) {
      <img src="iconUrl" alt="Units icon" />
    }
    {{ selected() }}
    <img
      [ngClass]="{ 'rotate-180': isOpen }"
      src="assets/images/icon-dropdown.svg"
      class="transition-transform duration-300 ease-in-out"
      alt="Units chevron icon"
    />
  </button>

  <!-- Dropdown Menu -->
  @if (isOpen) {
    <div
      class="absolute top-full right-0 mt-2 bg-brand-light p-2 rounded-xl border border-brand-light min-w-72 shadow-xl z-50 overflow-hidden"
    >
      <ng-content></ng-content>
    </div>
  }

  <!-- Overlay (click to close) -->
  @if (isOpen) {
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <div class="fixed inset-0 z-40" (click)="closeDropdown()"></div>
  }
</div>
