<div class="relative inline-block">
  <!-- Button -->
  <button
    [ngClass]="buttonClasses()"
    type="button"
    class="flex items-center gap-2 px-4 py-2.5 max-mobile:gap-1 max-mobile:px-2 max-mobile:py-1.5 bg-neutral-700 border border-slate-600 rounded-lg text-white text-sm max-mobile:text-xs font-medium cursor-pointer transition-colors hover:bg-neutral-900-light border-transparent focus:border-white"
    (click)="toggleDropdown()"
  >
    @if (iconUrl()) {
      <img [src]="iconUrl()" alt="Units icon" />
    }
    {{ selected() }}
    <img
      [ngClass]="{ 'rotate-180': isOpen }"
      src="assets/images/icon-dropdown.svg"
      class="transition-transform duration-300 ease-in-out"
      alt="Units chevron icon"
    />
  </button>

  <!-- Dropdown Menu -->
  @if (isOpen) {
    <div
      class="absolute top-full right-0 mt-2 bg-neutral-800 p-2 rounded-xl border border-neutral-600 min-w-52 shadow-xl z-50 overflow-hidden"
    >
      @for (weekDay of list(); track weekDay) {
        <button
          (click)="onSelected(weekDay)"
          [ngClass]="{ 'bg-neutral-700': selected() === weekDay }"
          type="button"
          class="w-full flex justify-between items-center px-4 py-3 mb-1 text-white text-sm cursor-pointer transition-colors hover:bg-neutral-700 rounded-lg text-left"
        >
          <span class="font-normal">{{ weekDay }}</span>
        </button>
      }
    </div>
  }

  <!-- Overlay (click to close) -->
  @if (isOpen) {
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <div class="fixed inset-0 z-40" (click)="closeDropdown()"></div>
  }
</div>
