@use '@angular/material' as mat;
@use '../../../../../styles/variables' as vars;

:host {
    $shape: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    mat-form-field {
        @include mat.form-field-overrides((
            container-height: 40px,
            container-vertical-padding: 8px,
            outlined-outline-color: transparent,
            outlined-caret-color: white,
            outlined-input-text-color: white,
            outlined-input-text-placeholder-color: white,
            outlined-container-shape: $shape,
            outlined-focus-outline-color: white,
            ));
    }

    button {
        @include mat.button-overrides((
            filled-container-shape: $shape,
            filled-container-color: vars.$color-blue-500,
            filled-container-height: 34px,
        ));
    }
}