<div
  class="flex justify-center max-mobile:flex-col mt-5 gap-2 max-mobile:px-[16px]"
>
  <div
    class="max-mobile:flex-1 bg-brand-light inline-block min-w-[600px] max-mobile:min-w-auto rounded-lg"
  >
    <mat-form-field appearance="outline" class="w-full">
      <mat-icon matPrefix class="!text-white">search</mat-icon>
      <input matInput placeholder="Search for a place..." type="search" />
    </mat-form-field>
  </div>

  <div class="max-mobile:flex-1 rounded-lg">
    <button class="h-12 max-mobile:w-full" matButton="filled" extended>
      Search
    </button>
  </div>
</div>
