@use '@angular/material' as mat;
@use '../../../../../styles/variables' as vars;

mat-form-field {
    @include mat.form-field-overrides((
        container-height: 52px,
        container-vertical-padding: 13px,
        container-text-size: 1.25rem,
        outlined-outline-color: transparent,
        outlined-caret-color: white,
        outlined-input-text-color: white,
        outlined-input-text-placeholder-color: white,
        outlined-container-shape: vars.$shape,
        outlined-focus-outline-color: white,
    ));
}

button {
    @include mat.button-overrides((
        filled-container-shape: vars.$shape,
        filled-container-color: vars.$color-blue-500,
        filled-container-height: 52px,
        filled-horizontal-padding: 40px,
        filled-label-text-size: 1.25rem
    ));
}

.search-autocomplete-panel {
    margin-top: 10px;

    .mat-mdc-autocomplete-panel {
        border-radius: 0.5rem !important;
        padding: 5px;

        .mdc-list-item--selected {
            border-radius: 0.5rem;
            background-color: vars.$color-neutral-700 !important;
            border: 1px solid vars.$color-neutral-600;
        }
    }

    .mdc-list-item__primary-text {
        color: white !important;
    }
}